/* This is our stylesheet */

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Roboto;
    src: url("roboto.ttf");    
}

@font-face {
    font-family: Roboto_BIG;
    src: url("roboto2.ttf");    
}


/* We can redefine HTML tags */
body {
    background-color: rgb(239, 245, 246);
    padding: 10px
}

h1{
    color: rgb(24, 26, 45);
    margin-bottom: 20px;
    font-family: Roboto_BIG;
    text-align: center;
}

h2{
    color: rgb(24, 26, 45);
    margin-top: 20px;
    font-family: Roboto_BIG;
}

p{
    color: rgb(18, 17, 24);
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: Roboto;
}

ul{
    color: rgb(18, 17, 24);
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 30px;
    font-family: Roboto;
}

a:link {
    color: rgb(20, 97, 174);
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: Roboto;
}

a:visited {
    color: rgb(20, 97, 174);
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: Roboto;
}

a:hover {
    color: rgb(20, 97, 174);
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: Roboto;
}

.caption {
    font-size: 8pt;
    color: rgb(24, 26, 45);
    font-family: Roboto_BIG;
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
}

.intro {
    margin: 0 200px; 
    text-align: center;
}

.countrycontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}

.sidebar {
    margin: 10px;
    
}

.maincontent {
    margin: 10px;
}

.card {
    margin: 10px;
    border: rgb(24, 26, 45) solid;
    border-radius: 0px;
    padding: 5px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
    }

}

@media only screen and (max-width: 1000px) {
    .intro {
        margin: 0 0px; 
        text-align: center;
    }

}

